

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  
}

h1 {
  margin-bottom: 8%;
  text-align: center;
  color: #0583D2;
  letter-spacing: 0.1em;
}

p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

p span {
  background:#fff;
  padding:0 10px;
}

input {
  margin-bottom: 3%;
}

input:last-of-type {
  margin-bottom: 0;
}

input, button {
  padding: 3%;
  width: 100%;
}

.login-container {
  background-color: #f3f5f8;
  border-radius: 10px;
  box-shadow: 1 1 1 solid #ffffffd9;
  padding: 7%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* horizontal align */
  width: 40vw;
  margin-left: 30vw;
  /* vertical align */
  height: 50vh;
  margin-top: 20vh;
  color: white;
}

#submit, #create-acct-btn {
    color: #6466E9;
    background-color: inherit;
    font-weight: bold;
    font-size: 16.5px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

#sign-up {
  border: 1.5px solid #6466E9;
  color: #6466E9;
  background-color: inherit;
  font-weight: bold;
  font-size: 16.5px;
}

#create-acct {
  display: none;
}

#return-btn {
  background: none;
  color: grey;
  text-decoration: underline;
  border: none;
  margin-top: 3%;
}

#or {
    color: #6466E9;
    font-size: normal;
    background-color: inherit;
  }
  

  input[type="text"] {
    background-color: #f3f5f8;
    color: black;
    border: 2px solid #3662E2;
    border-radius: 5px;
    font-size: 16px;
  }

  input[type="email"] {
    background-color: #f3f5f8;
    color: black;
    border: 2px solid #3662E2;
    border-radius: 5px;
    font-size: 16px;
  }

  input[type="password"] {
    background-color: #f3f5f8;
    color: black;
    border: 2px solid #3662E2;
    border-radius: 5px;
    font-size: 16px;
  }

  #submit {
    background-color: #f3f5f8;
    color: #3662E2;
    border: 2px solid #3662E2;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
  }