
#profileLinks {
    position: absolute;
    float: right;
    top: 35px;
    right: 45px;
    border: 2.5px solid #3662E3;
    padding: 7px;
    color: #3661e3de;
    padding-right: 50px;
}

#create-project-text {
    margin-top: -40px;
    font-size: 20px;
    font-weight: bold;
    color: #3662E3;
}

#create-project-text {
    margin-top: 25px;
}

#red-asterisk {
    color: red;
} 

input[type="text"] {
  width: 600px;
  border: 2px solid #3662E3;
  border-radius: 10px;
  color: black;
  height: 42px;
  font-size: 24px;
}

input[type="url"] {
  border: 2px solid #3662E3;
  border-radius: 10px;
  color: black;
  height: 42px;
  font-size: 24px;
}

#project-content {
  width: 600px;
  border: 2px solid #3662E3;
  border-radius: 10px;
  color: black;
  height: 42px;
  font-size: 14px;
  height: 600px;
  font-weight: bold;
}

#submit {
  margin-top: -5px;
  background-color: #3662e3;
  color: white;
  width: 55%;
  margin-top: 15px;
  padding: 18px;
  font-size: 23.5px;
  font-weight: bold;
  border-radius: 50px;;
  width: 350px;
  transform: translate(35%);
}

input[type="file"] {
  margin-top: -5px;
  background-color: #3662e3;
  color: white;
  width: 250px;
  border-radius: 30px;
  margin-top: 15px;
  padding: 18px;
  font-size: 23.5px;
  font-weight: bold;
  border-radius: 50px;;
  height: 32%;
}

#formatting-buttons {
    padding-left: 10px;
}

#add-title {
    padding: 10px;
    background-color: #3662E3;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

#add-sub-header {
    padding: 10px;
    background-color: #3662E3;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

#add-bold-paragraph {
    padding: 10px;
    background-color: #3662E3;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 75px;

  }
  #container {
    height: 100%;
  }
  #my-iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }

  #FontFlex-formatting-button {
    background-color: #3662E3;
    color: white;
    padding: 9px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  select {
    width: 600px;
    border: 2px solid #3662E3;
    border-radius: 10px;
    color: black;
    height: 42px;
    font-size: 24px;
  }

  #info {
    display: flex;
    align-items: center;
    color: #3662E3;
    font-weight: bold;
  }

  #info img {
    width: 46px;
    height: 46px;
    font-weight: bold;
  }
  
  #required-skills {
    width: 600px;
    border: 2px solid #3662E3;
    border-radius: 10px;
    color: black;
    height: 42px;
    font-size: 14px;
    height: 300px;
    font-weight: bold;
  }

  #table-of-contents {
    width: 600px;
    border: 2px solid #3662E3;
    border-radius: 10px;
    color: black;
    height: 42px;
    font-size: 14px;
    height: 300px;
    font-weight: bold;
  }
