#project-title {
  font-weight: bold;
  font-size: 2.25rem;
  text-align: center;
  word-wrap: break-word;
  margin-top: -70px;
  margin-bottom: 110px;
}

#project-content {
  border: 3.15px solid #e5e7eb;
  border-radius: 5px;
  padding: 15px;
  margin-right: 32%;
  margin-left: 2%;
  height: auto;
}

#sidebar {
  border: 3.15px solid #e5e7eb;
  border-radius: 5px;
  padding: 15px;
  margin-right: 32%;
  margin-left: 2%;
  height: auto;
  position: absolute;
  float: right;
  top: 25.9%;
  right: -31.25%;
  width: 30%;
  position: fixed;
}

#tabs {
  text-align: center;
  white-space: nowrap;
}

.tab-text {
  display: inline-block;
  padding-bottom: 2px;
}

#table-of-contents-text {
  padding-left: 35px;
  margin-left: 25px;
}

#table-of-contents {
  position: absolute;
  float: right;
  top: 38%;
  right: 21px;
}

.contents {
  position: fixed;
  float: right;
  top: 315px;
  right: 15px;
  word-wrap: break-word;
  inline-size: 473px;
  padding: 10px;
  border: 2px solid #e5e7eb;
}

#modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 125%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.716);
}
#openModal {
  position: fixed;
  top: calc(25.9% + 15px);
  left: calc(2% + 32%);
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 30%;
  padding: 18px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #3662e3;
  border: 2px solid #3662e3;
  margin-left: 809px;
  margin-top: 58px;
}

#modalContent {
  background-color: #fff;
  margin: 10% auto; /* Adjust the margin as desired */
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 800px;
  height: 395px;
  max-height: 395px;
  position: relative;
}

#closeModal {
  color: #3662e3;
  float: right;
  top: 10px;
  right: 0;
  font-size: 28px;
  font-weight: bolder;
  cursor: pointer;
}

#question-svg {
  position: absolute;
  top: 3px;
  right: 50%;
}

#question-statement {
  font-weight: bold;
  font-size: 2.25rem;
  text-align: center;
  word-wrap: break-word;
  margin-top: 24px;
  margin-bottom: 110px;
}

#no-questions-image {
  position: fixed;
  float: right;
  top: 315px;
  right: 15px;
  word-wrap: break-word;
  inline-size: 473px;
  padding: 10px;
}

.no-questions-text {
  position: fixed;
  float: left;
  top: 715px;
  left: 975px;
  word-wrap: break-word;
  inline-size: 473px;
  padding: 10px;
  transform: translate(35%);
}

.no-questions-text2 {
  position: fixed;
  float: left;
  top: 745px;
  left: 975px;
  word-wrap: break-word;
  inline-size: 473px;
  padding: 10px;
  transform: translate(33%);
}

.modal-h2 {
  position: absolute;
  left: 25%;
  top: 130px;
  display: absolute;
  color: black;
}

#red-astrisk {
  color: red;
}

#createQuestionForm {
  margin-top: 100px;
}

input[type="text"] {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2.25px solid #3662e3;
  border-radius: 5px;
  color: black;
  width: 100%;
}

input[type="submit"] {
    color: black;
    width: 50%;
    padding: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #3662e3;
    transform: translate(50%);
}

#info {
  display: flex;
  align-items: center;
  color: #3662E3;
  font-weight: bold;
}

#info img {
  width: 46px;
  height: 46px;
  font-weight: bold;
}

#questions {
  position: fixed;
  float: left;
  top: 445px;
  left: 975px;
  inline-size: 473px;
  transform: translate(50%);
  text-align: left;
}

#openTableOfContents {
  position: fixed;
  top: calc(25.9% + 15px);
  left: calc(2% + 32%);
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 30%;
  padding: 18px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #3662e3;
  border: 2px solid #3662e3;
  margin-left: 809px;
  margin-top: -12px;
}

#openQuestions {
  position: fixed;
  top: calc(25.9% + 15px);
  left: calc(2% + 32%);
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 30%;
  padding: 18px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #3662e3;
  border: 2px solid #3662e3;
  margin-left: 809px;
  margin-top: 125px;
}

#contents {
  margin-top: 150px;
}

#question-layout {
  margin-left: -95px;
  margin-top: 25px;
}

#question-asker {
  color: #3662E3;
  font-weight: bold;
}

#question-title {
  color: black;
  font-weight: bold;
}

#question-description {
  font-weight: light;
  word-wrap: break-word;
  margin-right: 15%;
}


#no-questions-image img {
  display: none;
}