body {
    background-color: #FFFFFF;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 144px;
}

#our-coding-tutorials-txt {
    /* transform: translate(32%,32%); */
    margin-top: -70px;
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
}

#created-projects {
    padding: 20px;
    border: 1.5px solid #E5E7EB;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 1 1 10px #EBE8F6;
    margin-top: 30px;
    width: 50%;
}

#created-projects img {

  width: 100%;
  border-radius: 10px
}


#project-title {
  font-weight: bold;
  font-size: 2.25rem;
  text-align: center;
  word-wrap: break-word;
}


#required-skills-h3 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 8px;
}

#required-skills {
    display: flex;
    flex-wrap: nowrap;
    font-size: 15px;
    color: black;
  }
  
  #required-skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 12px;
    color: black;
  }
  
  #required-skills li {
    margin-right: 10px;
    padding: 12px;
    color: #F0A9BB;
    color: black;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .even {
    background-color: #9FECB1;
    color: black;
    border-radius: 10px;
    font-weight: bold;
  }
  
  /* Style for odd list items */
  .odd {
    background-color: #F9D923;
    color: black;
    border-radius: 10px;
    font-weight: bold;
  }

  #more-details-button {
    background-color: #3662E3;
    color: white;
    width: 100%;
    margin-top: 15px;
    padding: 18px;
    font-size: 23.5px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1 1 10px #3662E3;
    border-radius: 50px;
  }

  #demo-button {
    margin-top: -5px;
    background-color: #d2d5e2;
    color: #3662E3;
    width: 100%;
    margin-top: 15px;
    padding: 18px;
    font-size: 23.5px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 1 1 10px #EFF2FE;
  }