#CODEProjectsH1 {
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
    word-wrap: break-word;
    margin-top: -70px;
    margin-bottom: 110px;
    color: black;
}

#CODEProjectsH2 {
    font-weight: bold;
    font-size: 1.50rem;
    text-align: center;
    word-wrap: break-word;
    margin-top: -70px;
    margin-bottom: 110px;
    color: black;
}

#CODEProjectsH3 {
    font-weight: bold;
    font-size: 1.05rem;
    text-align: center;
    word-wrap: break-word;
    margin-top: -70px;
    margin-bottom: 110px;
    color: black;
}
