.menu-bar {
  background-color: #FFFFFF;
  padding: 10px 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-items li {
  margin-right: 20px;
}

.menu-items li:last-child {
  margin-right: 0;
}

.menu-items li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.menu-items li a:hover {
  color: black;
}

.menu-items li a.active {
  color: #3662E3;
  font-weight: bold;
}

.menu-icon {
  display: inline;
  vertical-align: middle;
  margin-top: -5px;
}

#plus-icon {
  display: inline;
  vertical-align: middle;
  margin-top: -15px;
}

#profileLinks {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 2.5px solid #3662E3;
  padding: 7px;
  color: #3661e3de;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0.5px 0.5px 0.5px #3662E3;
  display: none;
}

#createContent {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 2.5px solid #3662E3;
  padding: 7px;
  color: #3661e3de;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0.5px 0.5px 0.5px #3662E3;
  display: none;
}

.logo-text {
  font-weight: bold;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Adjust the margin as needed to create spacing between logo and buttons */
}

#StartOnGithub,
#Account {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3662E3;
  color: white;
  padding: 6px;
  border: 0;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}

#StartOnGithubIcon img,
#AccountIcon img {
  margin-right: 8px;
}

#StartOnGithub:hover,
#Account:hover {
  background-color: #2448B7;
}

#StarOnGitHubLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
